{% extends 'base.html' %}
{% load static %}
{% block custom_js %}
  
{% endblock %}
{% block content %}
 
 
 
  


<section class="insideBanner about">
	<div class="container"></div>
</section>



    <div id="main">
    <div  class="wp">
    <div class="staticPageC abt">
  
			
<div class="tab_headerCont">
                        <h2>About Us</h2>
                    </div>
					
					
					
<div class="card mb-5 mt-3" > 
  <div class="card-body">
 
 <p>Learning isn’t about attend the course’s classes, take evaluation, and get certified. We learn most by interacting with instructors and our peers, by assessing our progress, and using that to plan for our next steps. It’s a ongoing journey that involves everyone in the classroom (whether the classroom is virtual or physical).</p>
 
 <p>How do we do that? We attend interactive courses so we can learn from each other, apply our new knowledge to the particular situation, and use that knowledge in our career growth. When you attend interactive classes you learns much more than you would have learned by attending pre-recorded session.
</p>

<p>Also learning isn’t just about what we need to know now, or what our teacher thinks we need to know now: it’s about interacting with other learners and their problems. It’s about taking advantage of other learnings to discover.
</p>


<p>We recognize that learning is interactive, and we’ve built a platform that allows instructor and students to interact with each other. We’ve engaged instructors who are expert practitioners in their fields, and who have hard-earned knowledge to share with students: they’re familiar with the best (and worst) practices, the trade-offs, the gotchas.
</p>
 
<h5><span>Interactive learning:</span>  that’s what we do, and we’d like to share that with you.
Come explore your learning journey with us!
</h5> 


<h5 class="mt-4">For any help Pl write us <a> help@infyni.com </a> , we will revert back within 48 Hours</h5>
 
  </div>
</div>
          
        </div>
    </div>




  
</div>


{% endblock %}










