{% extends 'base.html' %}
{% load static %}
{% block custom_js %}
  
{% endblock %}
{% block content %}



<section class="insideBanner about">
	<div class="container"></div>
</section>



    <div id="main">
    <div  class="wp">
    <div class="staticPageC abt terms">
  
			
<div class="tab_headerCont">
                        <h2>Terms</h2>
                    </div>
					
					
					
<div class="card mb-5 mt-3" > 
  <div class="card-body">
  
<h3>Thank you for using Infyni!</h3>

<p>Infyni's products and services are provided by Infyni.  Infyni is a part of Nojish Technologies, Pvt. Ltd These Terms of Use ("Terms") govern your use of Infyni's website, apps, and other products and services ("Services"). As some of our Services may be software that is downloaded to your computer, phone, tablet, or other device, you agree that we may automatically update this software, and that these Terms will apply to such updates. Please read these Terms carefully, and contact us if you have any questions. By using our Services, you agree to be bound by these Terms, including the policies referenced in these Terms.</p>

<h3>Using Infyni</h3>

<h4>Who May Use our Services</h4>

<p>You may use our Services only if you can form a binding contract with Infyni, and only in compliance with these Terms and all applicable laws. When you create your Infyni account, and subsequently when you use certain features, you must provide us with accurate and complete information, and you agree to update your information to keep it accurate and complete. Any use or access by anyone under the age of 13 is prohibited, and certain courses may have additional requirements and/or restrictions.</p>

<h4>Our License to You</h4>


<p>Subject to these Terms and our policies (including the Acceptable Use Policy, Honor Code, and course-specific eligibility requirements and other terms), we grant you a limited, personal, non-exclusive, non-transferable, and revocable license to use our Services. You may download content from our Services only for your personal, non-commercial use, unless you obtain Infyni's written permission to otherwise use the content. You also agree that you will create, access, and/or use only one user account, and you will not share with any third party access to or access information for your account. Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access.</p>


<h3>Our Courses</h3>

<h4>Course Modifications</h4>

<p>While we take pride in our live courses, unexpected events do occur. Infyni reserves the right to cancel, interrupt, or reschedule any course or classes or to modify any course content or the point value or weight of any assignment, quiz, or other assessment. Courses offered are subject to the Disclaimers and Limitation of Liability sections below.</p>

<h4>No Academic Credit</h4>


<p>Unless otherwise explicitly indicated by a credit-granting institution, participation in or completion of a course does not confer any academic credit. Even if credit is awarded by one institution, there is no presumption that other institutions will accept that credit. You agree not to accept credit for completing a course unless you have earned a Course Certificate (or other equivalent Infyni credential) for that course. Infyni, the course instructors, and the associated participating institutions have no obligation to have a course recognized by any educational institution or accreditation organization.</p>

<h4>Disclaimer of Student-University Relationship</h4>

<p>Nothing in these Terms or otherwise with respect to your participation in any course: (a) establishes any relationship between you and any educational institution with which Infyni may be affiliated; (b) enrolls or registers you in any educational institution, or in any course offered by any educational institution; or (c) entitles you to use the resources of any educational institution beyond participation in the course.
</p>



<h3>Your Content</h3>

<h4>User Content</h4>

<p>The Services enable you to share your content, such as homework, quizzes, exams, projects, and other assignments you submit, posts you make in the forums, and the like ("User Content"), with Infyni, instructors, and/or other users. You retain all intellectual property rights in, and are responsible for, the User Content you share.</p>


<h4>How Infyni and Others May Use User Content</h4>

<p>To the extent that you provide User Content, you grant Infyni a fully-transferable, royalty-free, perpetual, sublicensable, non-exclusive, worldwide license to copy, distribute, modify, create derivative works based on, publicly perform, publicly display, and otherwise use the User Content. This license includes granting Infyni the right to authorize participating institutions to use User Content with their registered students and on-campus learners independent of the Services. Nothing in these Terms shall restrict other legal rights Infyni may have to User Content, for example under other licenses. We reserve the right to remove or modify User Content for any reason, including User Content that we believe violates these Terms.</p>


<h4>Feedback</h4>


<p>We welcome your suggestions, ideas, comments, and other feedback regarding the Services ("Feedback"). By submitting any Feedback, you grant us the right to use the Feedback without any restriction or any compensation to you. By accepting your Feedback, Infyni does not waive any rights to use similar or related Feedback previously known to Infyni, developed by its employees or contractors, or obtained from other sources.
</p>

<h3>Security</h3>

<p>We care about the security of our users. While we work to protect the security of your account and related information, Infyni cannot guarantee that unauthorized third parties will not be able to defeat our security measures. Please notify us immediately of any compromise or unauthorized use of your account by emailing <a>security@Infyni.com</a>.</p>

<h3>Third Party Content</h3>

<p>Through the Services, you will have the ability to access live classes, use content provided by instructors, other users, and/or other third parties and links to websites and services maintained by third parties. Infyni cannot guarantee that such live classes or third party content, in the Services or elsewhere, will be free of material you may find objectionable or otherwise inappropriate or of malware or other contaminants that may harm your computer, mobile device, or any files therein. Infyni disclaims any responsibility or liability related to your access of live classes or use of such third party content.</p>

<h3>Copyright and Trademark Policy</h3>

<p>Infyni respects the intellectual property rights of our users, participating institutions, and other third parties and expects our users to do the same when using the Services. We have adopted and implemented the Infyni Copyright and Trademark Policy in accordance with applicable law, including the Digital Millennium Copyright Act.</p>


<h3>Education Research</h3>

<p>Infyni is committed to advancing the science of learning and teaching, and records of your participation in courses may be used for education research. In the interest of this research, you may be exposed to variations in the course content. Research findings will typically be reported at the aggregate level. Your personal identity will not be publicly disclosed in any research findings without your express consent.</p>

<h3>Paid Services</h3>
<p>Infyni offers paid Services (e.g., live classes by instructors) for a fee. Unless otherwise stated, all fees are quoted in INR. You are responsible for paying all fees and applicable taxes in a timely manner with a payment mechanism associated with the applicable paid Services. If your payment method fails or your account is past due, we may collect fees using other collection mechanisms. Fees may vary based on your location and other factors, and Infyni reserves the right to change any fees at any time at its sole discretion. Any change, update, or modification will be effective immediately upon posting through the relevant Services. Refunds may be available for paid Services as described in our Refund Policy.</p>

<h3>Modifying and Terminating our Services</h3>

<p>We are constantly changing and improving our Services. We may add or remove functions, features, or requirements, and we may suspend or stop a Service altogether. Accordingly, Infyni may terminate your use of any Service for any reason. If your use of a paid Service is terminated, a refund may be available under our Refund Policy. None of Infyni, its participating institutions and instructors, its contributors, sponsors, and other business partners, and their employees, contractors, and other agents (the "Infyni Parties") shall have any liability to you for any such action. You can stop using our Services at any time, although we'll be sorry to see you go</p>


<h3>Disclaimers</h3>

<p>THE SERVICES AND ALL INCLUDED CONTENT ARE PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED. THE Infyni PARTIES SPECIFICALLY DISCLAIM ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. THE Infyni PARTIES FURTHER DISCLAIM ANY AND ALL LIABILITY RELATED TO YOUR ACCESS OR USE OF THE SERVICES OR ANY RELATED CONTENT. YOU ACKNOWLEDGE AND AGREE THAT ANY ACCESS TO OR USE OF THE SERVICES OR SUCH CONTENT IS AT YOUR OWN RISK.</p>


<h3>Limitation of Liability</h3>



<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE Infyni PARTIES SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM: (A) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (B) ANY CONDUCT OR CONTENT OF ANY PARTY OTHER THAN THE APPLICABLE Infyni PARTY, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT; OR (C) UNAUTHORIZED ACCESS, USE, OR ALTERATION OF YOUR CONTENT OR INFORMATION. IN NO EVENT SHALL Infyni'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATED TO THE SERVICES EXCEED HUNDRED INDIAN RUPEES (Rs. 100) OR THE TOTAL AMOUNT OF FEES RECEIVED BY Infyni FROM YOU FOR THE USE OF PAID SERVICES DURING THE PAST SIX MONTHS, WHICHEVER IS GREATER. <br>
    YOU ACKNOWLEDGE AND AGREE THAT THE DISCLAIMERS AND THE LIMITATIONS OF LIABILITY SET FORTH IN THIS TERMS OF USE REFLECT A REASONABLE AND FAIR ALLOCATION OF RISK BETWEEN YOU AND THE Infyni PARTIES, AND THAT THESE LIMITATIONS ARE AN ESSENTIAL BASIS TO Infyni'S ABILITY TO MAKE THE SERVICES AVAILABLE TO YOU ON AN ECONOMICALLY FEASIBLE BASIS. <br>
    YOU AGREE THAT ANY CAUSE OF ACTION RELATED TO THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
    </p>


    <h3>Indemnification</h3>

    <p>You agree to indemnify, defend, and hold harmless the Infyni Parties from any and all claims, liabilities, expenses, and damages, including reasonable attorneys' fees and costs, made by any third party related to: (a) your use or attempted use of the Services in violation of these Terms; (b) your violation of any law or rights of any third party; or (c) User Content, including without limitation any claim of infringement or misappropriation of intellectual property or other proprietary rights.</p>

<h3>Governing Law and Jurisdiction
</h3>


<p>The Services are managed by Infyni, which is located in 24/25,Shaffi Paradise, 1st Crossing, Abbhiya Reddy Layout , Khaggdaspura, Bangalore- 560093, Karnataka.. You agree that any dispute related to these Terms will be governed by the laws of the State of Karnataka, excluding its conflicts of law provisions. You further consent to the personal jurisdiction of and exclusive venue in the state courts located in and serving Bangalore,Karnataka as the legal forum for any such dispute. <br>
    Excluding claims for injunctive or other equitable relief, for claims related to the Services where the total amount sought is less than ten thousand Rs. (10,000.00 INR), either you or Infyni may elect at any point during the dispute to resolve the claim through binding, non-appearance-based arbitration. The dispute will then be resolved using an established alternative dispute resolution ("ADR") provider, mutually agreed upon by you and Infyni. The parties and the selected ADR provider shall not involve any personal appearance by the parties or witnesses, unless otherwise mutually agreed by the parties; rather, the arbitration shall be conducted, at the option of the party seeking relief, online, by telephone, or via written submissions alone. Any judgment rendered by the arbitrator may be entered in any court of competent jurisdiction.
    </p>


    <h3>General Terms</h3>

    <h4>Revisions to the Terms</h4>

    <p>We reserve the right to revise the Terms at our sole discretion at any time. Any revisions to the Terms will be effective immediately upon posting by us. For any material changes to the Terms, we will take reasonable steps to notify you of such changes. In all cases, your continued use of the Services after publication of such changes, with or without notification, constitutes binding acceptance of the revised Terms.
    </p>

    <h4>Severability; Waiver</h4>

    <p>If it turns out that a particular provision of these Terms is not enforceable, this will not affect any other terms. If you do not comply with these Terms, and we do not take immediate action, this does not indicate that we relinquish any rights that we may have (such as taking action in the future).</p>
<h4>Participating Institutions
</h4>


<p>Infyni's participating institutions are third party beneficiaries of the Terms and may enforce those provisions of the Terms that relate to them.</p>


<h3>Referenced Policies</h3>

<ul>
    <li>Acceptable Use Policy (Create Below section Link)</li>
    <li>Copyright and Trademark Infringement Policy (Create Below section Link)</li>
    <li>Refund Policy (Create Below section Link)</li>
    <li>Honor Code (Create Below section Link)</li> 
</ul>




  </div>
</div>
          
        </div>
    </div>




  
</div>


{% endblock %}